.preload-container {
    background: #0f141e;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.preload-wrapper {
    position: relative;
}

.preload-pulse_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.preload-pulse_circle {
    animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes sk-scaleout {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}